{% extends 'base.html' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center mb-4">Change Status</h1>
            <h5>Course: {{ list.course.name }} ({{ list.course.code }})</h5>
            <h5>Student: {{ list.student.first_name }} {{ list.student.last_name }} ({{ list.student.username }}, {{ list.student.email }})</h5>

            <form method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Save Changes" class="btn btn-success">
            </form>
        </div>
    </div>
</div>
{% endblock %}
